.chart-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.chart-container .donut-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.bar-chart-container {
    position: relative;
    width: 100%;
    height: 200px; /* Puedes ajustar esto según tus necesidades */
}

.bar-chart-container .bar-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}
