/* LinearChart.css */
.chart-container {
    width: 100%;
    height: 300px; /* Tamaño del gráfico pequeño */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    
  }
  
  .chart-container.expanded {
    height: 600px; /* Tamaño del gráfico grande */
  }
  
  .chart-container:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  